/* Reset default margin and padding values */
* {
	margin: 0;
	padding: 0;
}

/* Style the header */
header {
	background-color: #9d90e6;
	color: #fff;
	padding: 20px;
}

header h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Style the main content area */
main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

ul {
	margin-left: 20px;
}

/* Style the footer */
footer {
	background-color: #9479b6;
	color: #fff;
	padding: 20px;
	text-align: center;
}
page{
  background-color: #9479b6;
	color: #fff;
	padding: 20px;
	text-align: center;  
}
